@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MIL';
  src: url('/assets/fonts/MilitaryFont7-rp0A.ttf');
}

@layer base {
  body {
    @apply font-bold text-white font-military tracking-widest;
  }
}

@layer components {
  .social {
    @apply text-black hover:text-gray-700 cursor-pointer;
  }
}

.swiper {
  width: 520px;
  height: 520px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
}

.BoxSwiper {
  width: 66%;
  margin-right: 600px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.BoxSwiper .swiper {
  @media screen and (max-width: 768px) {
    width: 300px;
    height: 300px;
  }
}
